.is-hidden {
  display: none !important;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.photo-card {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}

.photo-card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.loader {
  margin: 20px auto;
  width: 48px;
  height: 48px;
  border: 6px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.form {
  display: flex;
  justify-content: center; /* центрує по горизонталі */
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 36px;
}
.form input {
  width: 272px;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}
.form button {
  height: 40px;
  padding: 0 16px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form button:hover {
  background-color: #6c8cff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
.load-more {
  display: block;
  margin: 32px auto;
  padding: 8px 16px;

  min-width: 125px;
  height: 40px;

  background: #4e75ff;
  color: #fff;

  border: none;
  border-radius: 8px;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: background-color 250ms ease;
}

.load-more:hover,
.load-more:focus {
  background: #6c8cff;
}

.load-more:disabled {
  background: #cfcfcf;
  cursor: not-allowed;
}
